<div class="users_h1_box"><h1>Edit form</h1></div>
<%= render 'form' %>
<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Log in</h2>
  <%= form_with(model: @user, local: true ) do |f| %>
    <form class="login-container">
      <%= f.label "firstname：" %><br>
      <%= f.text_field :firstname %><br>
      <%= f.label "email：" %><br>
      <%= f.text_field :email %><br>
      <%= f.label "password："  %><br>
      <%= f.password_field :password %><br>
      <%= f.label "password_confirmation："  %><br>
      <%= f.password_field :password_confirmation %><br><br>
      <%= f.label "image" %>
      <% if @user.image.url  %>
        <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
      <% end %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %><br><br>
      
      <%= f.submit "edit" %><br><br>
    </form>
    <% end %>
</div>
<%= link_to "back", user_path(@user.id)%>
